html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
  font-family: 'Antic Slab', serif;
  font-size: 62.5%;
}

.page {
	width: 100%;
	height: 100%;
}

.logo {
  margin-top: 12.5%;
}

#title, #contact {
  margin: 0 auto;
  max-width: 550px;
  text-align: center;
}

#title h1 {
  font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 3em;
	color: #1D3F59;
  text-transform: uppercase;
}

#title p {
  font-size: 1.8em;
  line-height: 1.8em;
  color: #666;
}

#title a:link,
#title a:visited {
  color: #5A7489;
  text-decoration: none;
}

#title a:hover {
  color: #4C5B67;
  border-bottom: 1px solid #4C5B67;
}

.button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  line-height: 8em;
  background-color: #1D3F59;
  color: #FFF;
  border-radius: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.button:hover {
  background-color: #042640;
}
